@import url(https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbVNiN0MzNjhNa25Uam5Sd2Nsc3pIYmVKMjR4d3xBQ3Jtc0ttRy1ybzE1cTNtSDQxQWFweFptS0t1SW50VEs2NlJKNmxycy1NUWZOS2hNajhQTm5ncUtjQ3BzeGd3dWtrRmVMRXpPRzAyLVpNYnZENENqY3NhWjgwbDBNNU5jYXFvbm1JRGxrM19CbVBjM2VOWTFsdw&q=https%3A%2F%2Ffonts.google.com%2F&v=P8YuWEkTeuE);
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}

h1{
    font-size: 50px;
    line-height:64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color:#222;
}
h4{
    font-size: 20px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}
body {
    width:100%;
}

/*Header start*/
#header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;   /*To Box Shadow */
    position: sticky;   /*sticky navbar means it will stay on top*/
    top: 0;
    left: 0;
}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size:16px;               /*for spacing*/
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#088178;
                                  /*for hovering when pointer on icon*/
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";    /*everytime after is used, an emtpty content has to be used */
width: 30%;
height:2px;
background: #088178;
position:absolute;
bottom: -4px;
left:20px;
}

/*Home Page*/
#hero {
    background-image: url("./img/hero4.png");
    height:90vh;
    width:100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;  
}
#hero h1 {
    color:#088178;   
}
#hero button{
    background-image: url("./img/button.png");
    background-color: transparent;
    color:#088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size:15px
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width:180px;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);

}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1); 
}
#feature .fe-box img{
    width:100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#088178;
    background-color: #fddde4;
}